adal==1.2.6
attrs==20.3.0
azure-cognitiveservices-speech==1.16.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
coverage==5.5
cryptography==3.4.7
Flask==1.1.2
flask-expects-json==1.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
msrest==0.6.21
oauthlib==3.1.0
Pillow==8.1.2
pycparser==2.20
PyJWT==2.0.1
pyrsistent==0.17.3
python-dateutil==2.8.1
qrcode==6.1
reportlab==3.5.66
requests==2.25.1
requests-oauthlib==1.3.0
simplejson==3.17.2
six==1.15.0
SQLAlchemy==1.4.2
urllib3==1.26.4
Werkzeug==1.0.1
