<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Swipe Hammer.js</title>
    <link rel="stylesheet" href="/static/css/hammer-style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <section class="wrapper">
        <div id="yeller" class="yeller">

        </div>
        <div id="canvas" class="canvas">
            <div id="blockwrapper" class="blockwrapper">
                <!-- <div class="block yellow">{{send_post()}}</div>
        <div class="block green"></div>
        <div class="block red"></div>
        <div class="block blue"></div>
        <div class="block pink"></div>
        <div class="block orange"></div>
        <div class="block brown"></div>
        <div class="block lime"></div> -->

                

                    {% for name in names %}
                   
                        <div class="block green"><a href="{{ name }}">{{ name }}</a></div>
                        
                        
                    
         
                    {% endfor %}

            </div>
        </div>
    </section>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
    <script src="/static/js/hammer-script.js"></script>

</body>

</html>